= link_to 'Customize', 
  custom_team_path(:team_id => team), 
  :id => "customize_link_#{team.id}_#{team.prefix}",
  :class => "customize_link button",
  :title => "Customize the #{team.name} Roster"
