= link_to 'Download', 
  code_path(:id => team, :form => :pm), 
  :id => "download_link_#{team.id}_#{team.prefix}",
  :class => "download_link button",
  :title => "Download Photo Mechanic Code Replacements"
