- title @team.name

%p
  %table
    %tr
      %th Number
      %th First name
      %th Last name
      %th Position
    - @team.players.each do |player|
      %tr
        %td= player.number
        %td= player.first_name
        %td= player.last_name
        %td= player.position
