- title "Leagues"

%table
  %tr
    %th Name
  - for league in @leagues
    %tr
      %td= link_to league.name, league
      %td= link_to 'Edit', edit_league_path(league)
      %td= link_to 'Destroy', league, :confirm => 'Are you sure?', :method => :delete
