* {
  padding: 0;
  margin: 0; }

body {
  background-color: #363636;
  font-family: Verdana, Helvetica, Arial;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px; }

a {
  color: blue; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

h1 {
  font-size: 200%;
  margin-bottom: 20px;
  text-align: center;
  color: white; }
  h1 a {
    color: white;
    text-decoration: none; }

#header {
  -moz-box-shadow: 0 2px 5px black;
  -webkit-box-shadow: 0 2px 5px black;
  box-shadow: 0 2px 5px black;
  background-color: #231f20;
  color: #a2a2a2;
  padding: 20px;
  text-align: center;
  font-size: 110%; }
  #header div {
    display: inline;
    text-transform: uppercase; }
    #header div a, #header div .selected {
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: #a2a2a2;
      text-decoration: none;
      padding: 3px 20px; }
      #header div a:hover, #header div .selected:hover {
        color: white; }
  #header .selected a {
    color: white;
    background-color: #e16003; }

#container {
  text-align: center;
  color: white;
  margin: 25px 0; }

#flash_notice,
#flash_error,
#flash_alert {
  font-size: 110%;
  border: 1px solid black;
  padding: 6px 0;
  margin: 15px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error,
#flash_alert {
  color: white;
  background-color: #e16003; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }

.pagination {
  color: #a2a2a2; }
  .pagination a {
    color: white;
    text-decoration: none; }

.pagination_info {
  margin: 10px 0 10px 0;
  color: #a2a2a2;
  font-style: italic;
  font-size: 95%; }
  .pagination_info b {
    font-weight: normal; }

.button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 2px 2px 5px black;
  -webkit-box-shadow: 2px 2px 5px black;
  box-shadow: 2px 2px 5px black;
  border: none;
  text-decoration: none;
  font-size: 85%;
  text-transform: uppercase;
  padding: 5px 15px;
  margin: 0 2px;
  color: white;
  background-color: #231f20; }
  .button:hover {
    background-color: #e16003; }

.button_selected {
  background-color: #e16003; }

#gender_button_container, #team_button_container {
  margin: 0 0 30px 0; }

table {
  -moz-box-shadow: 0 5px 20px black;
  -webkit-box-shadow: 0 5px 20px black;
  box-shadow: 0 5px 20px black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  color: #231f20;
  background-color: white;
  border-collapse: collapse;
  border: 15px solid #231f20; }
  table .button {
    color: #231f20;
    background-color: #d2d2d2; }
  table a {
    color: #231f20;
    text-decoration: none; }
    table a:hover {
      color: #363636; }
  table tr:hover {
    color: #363636;
    background-color: #d2d2d2; }
    table tr:hover a {
      color: #363636; }
    table tr:hover .button {
      background-color: #a2a2a2; }
  table tr th, table tr td {
    padding: 15px 20px; }
  table tr th {
    text-transform: uppercase;
    color: #231f20;
    background-color: #d2d2d2; }

.team_box a {
  -moz-box-shadow: 0 2px 8px black;
  -webkit-box-shadow: 0 2px 8px black;
  box-shadow: 0 2px 8px black;
  font-weight: bold;
  border: 10px solid #231f20;
  background-color: white;
  text-decoration: none;
  color: #231f20;
  margin: 10px;
  padding: 15px;
  float: left; }

#download_dialog {
  display: none; }
  #download_dialog input {
    width: 95%; }
  #download_dialog p {
    margin: 10px 0 0 0; }
  #download_dialog select {
    width: 95%;
    margin-bottom: 10px; }

.float_left {
  float: left; }

.float_right {
  float: right; }

#team_search_form {
  margin-bottom: 30px; }
  #team_search_form #search {
    font-size: 110%;
    width: 220px;
    font-size: 110%; }

#custom_roster_form_container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 500px; }
  #custom_roster_form_container form p {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 150%; }
  #custom_roster_form_container form .description {
    text-align: right;
    color: #a2a2a2;
    font-size: 90%; }
  #custom_roster_form_container form .italic {
    font-style: italic; }
  #custom_roster_form_container form #team_name_label {
    position: relative;
    top: 10px; }
  #custom_roster_form_container form #csv_area_label {
    position: relative;
    top: 30px; }
  #custom_roster_form_container form #sport_id_label {
    position: relative;
    top: 10px; }
  #custom_roster_form_container form #custom_team_name, #custom_roster_form_container form #csv_text_area, #custom_roster_form_container form #sport_id {
    -moz-box-shadow: 0 5px 20px black;
    -webkit-box-shadow: 0 5px 20px black;
    box-shadow: 0 5px 20px black;
    font-size: 110%;
    border: 10px solid #231f20;
    margin: 5px 0 25px 0;
    width: 100%; }
  #custom_roster_form_container form #custom_team_name {
    height: 30px; }
  #custom_roster_form_container form #csv_text_area {
    height: 200px; }
  #custom_roster_form_container form #custom_submit_button {
    padding: 7px 17px; }
  #custom_roster_form_container form #sport_id {
    width: 103%; }
